* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: yellow;
  width: 80%;
  margin: auto;
}

main {
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

/* header */
.header-logo {
  margin-top: 30px;
  border: 10px solid black;
  text-align: center;
}

.header-logo img {
  width: 20%;
  height: 20%;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.tabs a {
  margin-left: 20px;
  text-decoration: none;
  color: inherit;
  font-size: 2em;
}

.tabs a:hover {
  background-color: black;
  color: yellow;
  transition: background 0.2s, color 0.2s;
}

/* main */

/* main */
.card-container {
  padding: 0 100px;
}

/*  cards */
.card {
  font-size: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 10px solid black;
}

.about-card {
  background-color: white;
  margin-left: 300px;
  height: 400px;
  width: 800px;
}

.service-card {
  background: #cfcaca;
  margin-left: -100px;
  width: 900px;
  height: 250px;
}

.contactUs-card {
  background: #cfcaca;
  margin-left: 300px;
  height: 300px;
  width: 800px;
}

.card p {
  font-size: 0.9em;
  line-height: 1.6;
  margin-bottom: 10px;
}

button {
  background-color: black;
  color: yellow;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 10px;
}

/* service cards */
.s-about-card {
  padding-bottom: 80px;
  width: 80%;
  background: #cfcaca;
  color: #000;
  margin: 40px 0px 0px 30px;
  border-bottom: #000 10px solid;
}
.s-about-card h2 {
  padding-top: 20px;
  font-size: 2.5em;
}

/* candidates cards */
.s-candidates-card {
  margin: 0px 30px 0px 0px;
  text-align: right;
  width: 80%;
  background: #ffffff;
  border: #ffffff 1px solid;
  border-bottom: #000 10px solid;
}

.s-candidates-table tr {
  margin: 0px 30px 0px 0px;
  text-align: right;
  border-bottom: 4px solid black;
  width: 100%;
  border-collapse: collapse;
}

.s-candidates-table {
  margin: 0px 30px 0px 0px;
  text-align: right;
  border-bottom: 4px solid black;
}

.s-candidates-table td,
.s-candidates-table th {
  text-align: right;
}
