* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: yellow;
}

html {
  scroll-behavior: smooth;
}

/* header */
.header-logo {
  margin: 30px 50px 0px 50px;
  border: 10px solid black;
  text-align: center;
}

.header-logo img {
  width: 20%;
  height: 20%;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.tabs a {
  margin-left: 20px;
  text-decoration: none;
  color: inherit;
  font-size: 2em;
}

.tabs a:hover {
  background-color: black;
  color: yellow;
  transition: background 0.2s, color 0.2s;
}

/* main */

/* main */
.card-container {
  padding: 20px;
  margin: 40px 0;
}

/*  cards */
.card {
  max-width: 600px;
  padding: 20px;
  margin: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-card {
  background-color: white;
  margin-left: auto;
  margin-right: 40px;
}

.service-card {
  background: #cfcaca;
  margin-right: auto;
  margin-left: 40px;
}

.contactUs-card {
  background: #cfcaca;
  margin-left: auto;
  margin-right: 40px;
}

/* service cards */
.s-about-card {
  padding-bottom: 80px;
  width: 80%;
  background: #cfcaca;
  color: #000;
  margin: 40px 0px 0px 30px;
  border-bottom: #000 10px solid;
}
.s-about-card h2 {
  padding-top: 20px;
  font-size: 2.5em;
}

/* candidates cards */
.s-candidates-card {
  margin: 0px 30px 0px 0px;
  text-align: right;
  width: 80%;
  background: #ffffff;
  border: #ffffff 1px solid;
  border-bottom: #000 10px solid;
}

.s-candidates-table tr {
  margin: 0px 30px 0px 0px;
  text-align: right;
  border-bottom: 4px solid black;
  width: 100%;
  border-collapse: collapse;
}

.s-candidates-table {
  margin: 0px 30px 0px 0px;
  text-align: right;
  border-bottom: 4px solid black;
}

.s-candidates-table td,
.s-candidates-table th {
  text-align: right;
}
